h1 {
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
}
.call-out{
  background-color:white;
  border: solid black 2px;
  z-index: 1;
  position: absolute;
  display: inline;
  margin-top: 100px;
  margin-left: 35%;
  padding:50px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1>a {
  color: #333333;
}

h1>a:hover {
  text-decoration: none;
  color:#333333;
}

.header {
  background-color: #C5Ae91;
  border: solid 4px #333333;
  width: 100%-300px;
  height: 110px;
}

.uk-button {
  min-height: 44px;
  min-width: 60px;
  border: solid 4px #333333;
}

.breadcrumb {
  border: solid 3px #333333;
  border-top: solid 0px #7D6444;
  background-color: #EAD9C4;
}

.page {
  background-color:
}
